body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin: 0;
  background-color: #ffffff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 156px;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.logo .web {
  color: #4d5ae5;
}

.logo .studio {
  color: #2e2f42;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav a {
  text-decoration: none;
  color: #2e2f42;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
}

.site-nav a:hover {
  color: #404bbf;
}

.site-nav a:first-child:active {
  color: #404bbf;
}

.site-address {
  display: flex;
  gap: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02px;
  color: inherit;
}

.site-address a {
  text-decoration: none;
  color: inherit;
  margin: 0 8px;
}

.site-address a:hover,
.site-address a:focus {
  color: #404bbf;
}

.studio1 {
  width: 100%;
  max-width: 1440px;
  height: 600px;
  text-align: center;
  background-color: #2e2f42;
  padding: 120px 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.studio1-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  font-style: bold;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  text-align: center;
  width: 496px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  font-style: medium;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button:focus,
.button:hover {
  background-color: #404bbf;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  padding: 120px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}

.features li {
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin: 0 1%;
  text-align: left;
}

.features h3 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features p {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.team {
  text-align: center;
  padding: 80px 24px;
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700px;
  font-style: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
  margin: 0 0 72px 0;
}
.team-list {
  display: flex;

  justify-content: center;
  gap: 24px;
  list-style: none;
}

.team1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  text-align: center;
}

.team1 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.team1 h3 {
  font-size: 20px;
  margin: 32px 65px 8px 65px;
  font-weight: 600;
  font-style: bold;
}

.team p {
  margin: 0 64px 32px 64px;
  color: #434455;
  font-size: 16px;
}

.portfolio {
  background: #fff;
  text-align: center;

  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.portfolio-list li {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  overflow: hidden;
}
.portfolio-list img {
  max-width: 100%;
  display: block;
  height: auto;
}
.portfolio-list h3 {
  font-size: 20px;
  margin: 32px 0 0 16px;
  text-align: left;
}
.portfolio-list p {
  color: #434455;
  margin: 8px 0 32px 16px;
  text-align: left;
}
.site-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 1148px;
  margin: 0 auto;
}

.site-footer .logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.site-footer .web {
  color: #4d5ae5;
}

.site-footer .studio {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}
